branches/orbeon4/filter/tools/maven-4.0.0.rng

<?xml version="1.0"?>
<grammar ns="http://maven.apache.org/POM/4.0.0"
	 xmlns="http://relaxng.org/ns/structure/1.0" 
	 datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <choice>
      <notAllowed/>
      <element name="project">
	<attribute name="schemaLocation" 
		   ns="http://www.w3.org/2001/XMLSchema-instance"/>
	<interleave>
	  <optional>
	    <element name="parent">
	      <interleave>
		<optional>
		  <element name="artifactId">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="groupId">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="version">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="relativePath">
		    <ref name="string"/>
		  </element>
		</optional>
	      </interleave>
	    </element>
	  </optional>
	  <optional>
	    <element name="modelVersion">
	      <ref name="string"/>
	    </element>
	  </optional>
	  <optional>
	    <element name="groupId">
	      <ref name="string"/>
	    </element>
	  </optional>
	  <optional>
	    <element name="artifactId">
	      <ref name="string"/>
	    </element>
	  </optional>
	  <optional>
	    <element name="packaging">
	      <ref name="string"/>
	    </element>
	  </optional>
	  <optional>
	    <element name="name">
	      <ref name="string"/>
	    </element>
	  </optional>
	  <optional>
	    <element name="version">
	      <ref name="string"/>
	    </element>
	  </optional>
	  <optional>
	    <element name="description">
	      <ref name="string"/>
	    </element>
	  </optional>
	  <optional>
	    <element name="url">
	      <ref name="string"/>
	    </element>
	  </optional>
	  <optional>
	    <element name="prerequisites">
	      <optional>
		<element name="maven">
		  <ref name="string"/>
		</element>
	      </optional>
	    </element>
	  </optional>
	  <optional>
	    <element name="issueManagement">
	      <interleave>
		<optional>
		  <element name="system">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="url">
		    <ref name="string"/>
		  </element>
		</optional>
	      </interleave>
	    </element>
	  </optional>
	  <optional>
	    <element name="ciManagement">
	      <interleave>
		<optional>
		  <element name="system">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="url">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="notifiers">
		    <zeroOrMore>
		      <element name="notifier">
			<interleave>
			  <optional>
			    <element name="type">
			      <ref name="string"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="sendOnError">
			      <ref name="boolean"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="sendOnFailure">
			      <ref name="boolean"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="sendOnSuccess">
			      <ref name="boolean"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="sendOnWarning">
			      <ref name="boolean"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="address">
			      <ref name="string"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="configuration">
			      <zeroOrMore>
				<ref name="element6"/>
			      </zeroOrMore>
			    </element>
			  </optional>
			</interleave>
		      </element>
		    </zeroOrMore>
		  </element>
		</optional>
	      </interleave>
	    </element>
	  </optional>
	  <optional>
	    <element name="inceptionYear">
	      <ref name="string"/>
	    </element>
	  </optional>
	  <optional>
	    <element name="mailingLists">
	      <zeroOrMore>
		<element name="mailingList">
		  <interleave>
		    <optional>
		      <element name="name">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="subscribe">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="unsubscribe">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="post">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="archive">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="otherArchives">
			<zeroOrMore>
			  <element name="otherArchive">
			    <ref name="string"/>
			  </element>
			</zeroOrMore>
		      </element>
		    </optional>
		  </interleave>
		</element>
	      </zeroOrMore>
	    </element>
	  </optional>
	  <optional>
	    <element name="developers">
	      <zeroOrMore>
		<element name="developer">
		  <interleave>
		    <optional>
		      <element name="id">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="name">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="email">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="url">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="organization">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="organizationUrl">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="roles">
			<zeroOrMore>
			  <element name="role">
			    <ref name="string"/>
			  </element>
			</zeroOrMore>
		      </element>
		    </optional>
		    <optional>
		      <element name="timezone">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="properties">
			<zeroOrMore>
			  <ref name="element7"/>
			</zeroOrMore>
		      </element>
		    </optional>
		  </interleave>
		</element>
	      </zeroOrMore>
	    </element>
	  </optional>
	  <optional>
	    <element name="contributors">
	      <zeroOrMore>
		<element name="contributor">
		  <interleave>
		    <optional>
		      <element name="name">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="email">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="url">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="organization">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="organizationUrl">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="roles">
			<zeroOrMore>
			  <element name="role">
			    <ref name="string"/>
			  </element>
			</zeroOrMore>
		      </element>
		    </optional>
		    <optional>
		      <element name="timezone">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="properties">
			<zeroOrMore>
			  <ref name="element8"/>
			</zeroOrMore>
		      </element>
		    </optional>
		  </interleave>
		</element>
	      </zeroOrMore>
	    </element>
	  </optional>
	  <optional>
	    <element name="licenses">
	      <zeroOrMore>
		<element name="license">
		  <interleave>
		    <optional>
		      <element name="name">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="url">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="distribution">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="comments">
			<ref name="string"/>
		      </element>
		    </optional>
		  </interleave>
		</element>
	      </zeroOrMore>
	    </element>
	  </optional>
	  <optional>
	    <element name="scm">
	      <interleave>
		<optional>
		  <element name="connection">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="developerConnection">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="tag">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="url">
		    <ref name="string"/>
		  </element>
		</optional>
	      </interleave>
	    </element>
	  </optional>
	  <optional>
	    <element name="organization">
	      <interleave>
		<optional>
		  <element name="name">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="url">
		    <ref name="string"/>
		  </element>
		</optional>
	      </interleave>
	    </element>
	  </optional>
	  <optional>
	    <element name="build">
	      <interleave>
		<optional>
		  <element name="sourceDirectory">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="scriptSourceDirectory">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="testSourceDirectory">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="outputDirectory">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="testOutputDirectory">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="extensions">
		    <zeroOrMore>
		      <element name="extension">
			<interleave>
			  <optional>
			    <element name="groupId">
			      <ref name="string"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="artifactId">
			      <ref name="string"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="version">
			      <ref name="string"/>
			    </element>
			  </optional>
			</interleave>
		      </element>
		    </zeroOrMore>
		  </element>
		</optional>
		<optional>
		  <element name="defaultGoal">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="resources">
		    <zeroOrMore>
		      <element name="resource">
			<ref name="Resource"/>
		      </element>
		    </zeroOrMore>
		  </element>
		</optional>
		<optional>
		  <element name="testResources">
		    <zeroOrMore>
		      <element name="testResource">
			<ref name="Resource"/>
		      </element>
		    </zeroOrMore>
		  </element>
		</optional>
		<optional>
		  <element name="directory">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="finalName">
		    <ref name="string"/>
		  </element>
		</optional>
		<optional>
		  <element name="filters">
		    <zeroOrMore>
		      <element name="filter">
			<ref name="string"/>
		      </element>
		    </zeroOrMore>
		  </element>
		</optional>
		<optional>
		  <element name="pluginManagement">
		    <ref name="PluginManagement"/>
		  </element>
		</optional>
		<optional>
		  <element name="plugins">
		    <zeroOrMore>
		      <element name="plugin">
			<ref name="Plugin"/>
		      </element>
		    </zeroOrMore>
		  </element>
		</optional>
	      </interleave>
	    </element>
	  </optional>
	  <optional>
	    <element name="profiles">
	      <zeroOrMore>
		<element name="profile">
		  <interleave>
		    <optional>
		      <element name="id">
			<ref name="string"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="activation">
			<interleave>
			  <optional>
			    <element name="activeByDefault">
			      <ref name="boolean"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="jdk">
			      <ref name="string"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="os">
			      <interleave>
				<optional>

				  <element name="name">

				    <ref name="string"/>
				  </element>
				</optional>
				<optional>

				  <element name="family">

				    <ref name="string"/>
				  </element>
				</optional>
				<optional>

				  <element name="arch">

				    <ref name="string"/>
				  </element>
				</optional>
				<optional>

				  <element name="version">

				    <ref name="string"/>
				  </element>
				</optional>
			      </interleave>
			    </element>
			  </optional>
			  <optional>
			    <element name="property">
			      <interleave>
				<optional>

				  <element name="name">

				    <ref name="string"/>
				  </element>
				</optional>
				<optional>

				  <element name="value">

				    <ref name="string"/>
				  </element>
				</optional>
			      </interleave>
			    </element>
			  </optional>
			  <optional>
			    <element name="file">
			      <interleave>
				<optional>

				  <element name="missing">

				    <ref name="string"/>
				  </element>
				</optional>
				<optional>

				  <element name="exists">

				    <ref name="string"/>
				  </element>
				</optional>
			      </interleave>
			    </element>
			  </optional>
			</interleave>
		      </element>
		    </optional>
		    <optional>
		      <element name="build">
			<interleave>
			  <optional>
			    <element name="defaultGoal">
			      <ref name="string"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="resources">
			      <zeroOrMore>
				<element name="resource">
				  <ref name="Resource"/>
				</element>
			      </zeroOrMore>
			    </element>
			  </optional>
			  <optional>
			    <element name="testResources">
			      <zeroOrMore>
				<element name="testResource">
				  <ref name="Resource"/>
				</element>
			      </zeroOrMore>
			    </element>
			  </optional>
			  <optional>
			    <element name="directory">
			      <ref name="string"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="finalName">
			      <ref name="string"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="filters">
			      <zeroOrMore>
				<element name="filter">
				  <ref name="string"/>
				</element>
			      </zeroOrMore>
			    </element>
			  </optional>
			  <optional>
			    <element name="pluginManagement">
			      <ref name="PluginManagement"/>
			    </element>
			  </optional>
			  <optional>
			    <element name="plugins">
			      <zeroOrMore>
				<element name="plugin">
				  <ref name="Plugin"/>
				</element>
			      </zeroOrMore>
			    </element>
			  </optional>
			</interleave>
		      </element>
		    </optional>
		    <optional>
		      <element name="modules">
			<zeroOrMore>
			  <element name="module">
			    <ref name="string"/>
			  </element>
			</zeroOrMore>
		      </element>
		    </optional>
		    <optional>
		      <element name="repositories">
			<zeroOrMore>
			  <element name="repository">
			    <ref name="Repository"/>
			  </element>
			</zeroOrMore>
		      </element>
		    </optional>
		    <optional>
		      <element name="pluginRepositories">
			<zeroOrMore>
			  <element name="pluginRepository">
			    <ref name="Repository"/>
			  </element>
			</zeroOrMore>
		      </element>
		    </optional>
		    <optional>
		      <element name="dependencies">
			<zeroOrMore>
			  <element name="dependency">
			    <ref name="Dependency"/>
			  </element>
			</zeroOrMore>
		      </element>
		    </optional>
		    <optional>
		      <element name="reports">
			<zeroOrMore>
			  <ref name="element5"/>
			</zeroOrMore>
		      </element>
		    </optional>
		    <optional>
		      <element name="reporting">
			<ref name="Reporting"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="dependencyManagement">
			<ref name="DependencyManagement"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="distributionManagement">
			<ref name="DistributionManagement"/>
		      </element>
		    </optional>
		    <optional>
		      <element name="properties">
			<zeroOrMore>
			  <ref name="element2"/>
			</zeroOrMore>
		      </element>
		    </optional>
		  </interleave>
		</element>
	      </zeroOrMore>
	    </element>
	  </optional>
	  <optional>
	    <element name="modules">
	      <zeroOrMore>
		<element name="module">
		  <ref name="string"/>
		</element>
	      </zeroOrMore>
	    </element>
	  </optional>
	  <optional>
	    <element name="repositories">
	      <zeroOrMore>
		<element name="repository">
		  <ref name="Repository"/>
		</element>
	      </zeroOrMore>
	    </element>
	  </optional>
	  <optional>
	    <element name="pluginRepositories">
	      <zeroOrMore>
		<element name="pluginRepository">
		  <ref name="Repository"/>
		</element>
	      </zeroOrMore>
	    </element>
	  </optional>
	  <optional>
	    <element name="dependencies">
	      <zeroOrMore>
		<element name="dependency">
		  <ref name="Dependency"/>
		</element>
	      </zeroOrMore>
	    </element>
	  </optional>
	  <optional>
	    <element name="reports">
	      <zeroOrMore>
		<ref name="element1"/>
	      </zeroOrMore>
	    </element>
	  </optional>
	  <optional>
	    <element name="reporting">
	      <ref name="Reporting"/>
	    </element>
	  </optional>
	  <optional>
	    <element name="dependencyManagement">
	      <ref name="DependencyManagement"/>
	    </element>
	  </optional>
	  <optional>
	    <element name="distributionManagement">
	      <ref name="DistributionManagement"/>
	    </element>
	  </optional>
	  <optional>
	    <element name="properties">
	      <zeroOrMore>
		<ref name="element0"/>
	      </zeroOrMore>
	    </element>
	  </optional>
	</interleave>
      </element>
    </choice>
  </start>
  <define name="RepositoryPolicy">
    <interleave>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="enabled">
	    <ref name="boolean"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="updatePolicy">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="checksumPolicy">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
    </interleave>
    <empty/>
  </define>
  <define name="string">
    <data type="string"/>
  </define>
  <define name="Dependency">
    <interleave>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="groupId">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="artifactId">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="version">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="type">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="classifier">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="scope">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="systemPath">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="exclusions">
	    <zeroOrMore>
	      <element name="exclusion">
		<interleave>
		  <optional>
		    <element name="artifactId">
		      <ref name="string"/>
		    </element>
		  </optional>
		  <optional>
		    <element name="groupId">
		      <ref name="string"/>
		    </element>
		  </optional>
		</interleave>
	      </element>
	    </zeroOrMore>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="optional">
	    <ref name="boolean"/>
	  </element>
	</choice>
      </optional>
    </interleave>
    <empty/>
  </define>
  <define name="Repository">
    <interleave>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="releases">
	    <ref name="RepositoryPolicy"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="snapshots">
	    <ref name="RepositoryPolicy"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="id">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="name">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="url">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="layout">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
    </interleave>
    <empty/>
  </define>
  <define name="element1">
    <element>
      <anyName/>
      <mixed>
	<zeroOrMore>
	  <choice>
	    <ref name="element1"/>
	    <attribute>
	      <anyName/>
	    </attribute>
	  </choice>
	</zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="element0">
    <element>
      <anyName/>
      <mixed>
	<zeroOrMore>
	  <choice>
	    <ref name="element0"/>
	    <attribute>
	      <anyName/>
	    </attribute>
	  </choice>
	</zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="element3">
    <element>
      <anyName/>
      <mixed>
	<zeroOrMore>
	  <choice>
	    <ref name="element3"/>
	    <attribute>
	      <anyName/>
	    </attribute>
	  </choice>
	</zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="element2">
    <element>
      <anyName/>
      <mixed>
	<zeroOrMore>
	  <choice>
	    <ref name="element2"/>
	    <attribute>
	      <anyName/>
	    </attribute>
	  </choice>
	</zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="element5">
    <element>
      <anyName/>
      <mixed>
	<zeroOrMore>
	  <choice>
	    <ref name="element5"/>
	    <attribute>
	      <anyName/>
	    </attribute>
	  </choice>
	</zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="element4">
    <element>
      <anyName/>
      <mixed>
	<zeroOrMore>
	  <choice>
	    <ref name="element4"/>
	    <attribute>
	      <anyName/>
	    </attribute>
	  </choice>
	</zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="element10">
    <element>
      <anyName/>
      <mixed>
	<zeroOrMore>
	  <choice>
	    <ref name="element10"/>
	    <attribute>
	      <anyName/>
	    </attribute>
	  </choice>
	</zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="element11">
    <element>
      <anyName/>
      <mixed>
	<zeroOrMore>
	  <choice>
	    <ref name="element11"/>
	    <attribute>
	      <anyName/>
	    </attribute>
	  </choice>
	</zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="element8">
    <element>
      <anyName/>
      <mixed>
	<zeroOrMore>
	  <choice>
	    <ref name="element8"/>
	    <attribute>
	      <anyName/>
	    </attribute>
	  </choice>
	</zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="element9">
    <element>
      <anyName/>
      <mixed>
	<zeroOrMore>
	  <choice>
	    <ref name="element9"/>
	    <attribute>
	      <anyName/>
	    </attribute>
	  </choice>
	</zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="element6">
    <element>
      <anyName/>
      <mixed>
	<zeroOrMore>
	  <choice>
	    <ref name="element6"/>
	    <attribute>
	      <anyName/>
	    </attribute>
	  </choice>
	</zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="element7">
    <element>
      <anyName/>
      <mixed>
	<zeroOrMore>
	  <choice>
	    <ref name="element7"/>
	    <attribute>
	      <anyName/>
	    </attribute>
	  </choice>
	</zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="Resource">
    <interleave>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="targetPath">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="filtering">
	    <ref name="boolean"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="directory">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="includes">
	    <zeroOrMore>
	      <element name="include">
		<ref name="string"/>
	      </element>
	    </zeroOrMore>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="excludes">
	    <zeroOrMore>
	      <element name="exclude">
		<ref name="string"/>
	      </element>
	    </zeroOrMore>
	  </element>
	</choice>
      </optional>
    </interleave>
    <empty/>
  </define>
  <define name="DependencyManagement">
    <optional>
      <choice>
	<notAllowed/>
	<element name="dependencies">
	  <zeroOrMore>
	    <element name="dependency">
	      <ref name="Dependency"/>
	    </element>
	  </zeroOrMore>
	</element>
      </choice>
    </optional>
    <empty/>
  </define>
  <define name="Plugin">
    <interleave>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="groupId">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="artifactId">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="version">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="extensions">
	    <ref name="boolean"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="executions">
	    <zeroOrMore>
	      <element name="execution">
		<interleave>
		  <optional>
		    <element name="id">
		      <ref name="string"/>
		    </element>
		  </optional>
		  <optional>
		    <element name="phase">
		      <ref name="string"/>
		    </element>
		  </optional>
		  <optional>
		    <element name="goals">
		      <zeroOrMore>
			<element name="goal">
			  <ref name="string"/>
			</element>
		      </zeroOrMore>
		    </element>
		  </optional>
		  <optional>
		    <element name="inherited">
		      <ref name="string"/>
		    </element>
		  </optional>
		  <optional>
		    <element name="configuration">
		      <zeroOrMore>
			<ref name="element9"/>
		      </zeroOrMore>
		    </element>
		  </optional>
		</interleave>
	      </element>
	    </zeroOrMore>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="dependencies">
	    <zeroOrMore>
	      <element name="dependency">
		<ref name="Dependency"/>
	      </element>
	    </zeroOrMore>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="goals">
	    <zeroOrMore>
	      <ref name="element10"/>
	    </zeroOrMore>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="inherited">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="configuration">
	    <zeroOrMore>
	      <ref name="element11"/>
	    </zeroOrMore>
	  </element>
	</choice>
      </optional>
    </interleave>
    <empty/>
  </define>
  <define name="Reporting">
    <interleave>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="excludeDefaults">
	    <ref name="boolean"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="outputDirectory">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="plugins">
	    <zeroOrMore>
	      <element name="plugin">
		<interleave>
		  <optional>
		    <element name="groupId">
		      <ref name="string"/>
		    </element>
		  </optional>
		  <optional>
		    <element name="artifactId">
		      <ref name="string"/>
		    </element>
		  </optional>
		  <optional>
		    <element name="version">
		      <ref name="string"/>
		    </element>
		  </optional>
		  <optional>
		    <element name="inherited">
		      <ref name="string"/>
		    </element>
		  </optional>
		  <optional>
		    <element name="configuration">
		      <zeroOrMore>
			<ref name="element4"/>
		      </zeroOrMore>
		    </element>
		  </optional>
		  <optional>
		    <element name="reportSets">
		      <zeroOrMore>
			<element name="reportSet">
			  <interleave>
			    <optional>
			      <element name="id">
				<ref name="string"/>
			      </element>
			    </optional>
			    <optional>
			      <element name="configuration">
				<zeroOrMore>
				  <ref name="element3"/>
				</zeroOrMore>
			      </element>
			    </optional>
			    <optional>
			      <element name="inherited">
				<ref name="string"/>
			      </element>
			    </optional>
			    <optional>
			      <element name="reports">
				<zeroOrMore>

				  <element name="report">

				    <ref name="string"/>
				  </element>
				</zeroOrMore>
			      </element>
			    </optional>
			  </interleave>
			</element>
		      </zeroOrMore>
		    </element>
		  </optional>
		</interleave>
	      </element>
	    </zeroOrMore>
	  </element>
	</choice>
      </optional>
    </interleave>
    <empty/>
  </define>
  <define name="PluginManagement">
    <optional>
      <choice>
	<notAllowed/>
	<element name="plugins">
	  <zeroOrMore>
	    <element name="plugin">
	      <ref name="Plugin"/>
	    </element>
	  </zeroOrMore>
	</element>
      </choice>
    </optional>
    <empty/>
  </define>
  <define name="boolean">
    <data type="boolean"/>
  </define>
  <define name="DeploymentRepository">
    <interleave>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="uniqueVersion">
	    <ref name="boolean"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="id">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="name">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="url">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="layout">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
    </interleave>
    <empty/>
  </define>
  <define name="DistributionManagement">
    <interleave>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="repository">
	    <ref name="DeploymentRepository"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="snapshotRepository">
	    <ref name="DeploymentRepository"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="site">
	    <interleave>
	      <optional>
		<element name="id">
		  <ref name="string"/>
		</element>
	      </optional>
	      <optional>
		<element name="name">
		  <ref name="string"/>
		</element>
	      </optional>
	      <optional>
		<element name="url">
		  <ref name="string"/>
		</element>
	      </optional>
	    </interleave>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="downloadUrl">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="relocation">
	    <interleave>
	      <optional>
		<element name="groupId">
		  <ref name="string"/>
		</element>
	      </optional>
	      <optional>
		<element name="artifactId">
		  <ref name="string"/>
		</element>
	      </optional>
	      <optional>
		<element name="version">
		  <ref name="string"/>
		</element>
	      </optional>
	      <optional>
		<element name="message">
		  <ref name="string"/>
		</element>
	      </optional>
	    </interleave>
	  </element>
	</choice>
      </optional>
      <optional>
	<choice>
	  <notAllowed/>
	  <element name="status">
	    <ref name="string"/>
	  </element>
	</choice>
      </optional>
    </interleave>
    <empty/>
  </define>
</grammar>
